<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <img src="assets/cart.png">
  
  <div class="myContainer">
      
    <ion-card>

      <ion-item>
        <ion-label position="floating" color="primary">Name *
        </ion-label>
        <ion-input type="text" clearOnEdit="false"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating" color="primary">Mobile No *
        </ion-label>
        <ion-input type="text" clearOnEdit="false"></ion-input>
      </ion-item>


      <div class="ion-padding ion-text-center">
        <ion-button size="medium" expand="block" fill="outline" type="submit">Sign Up
        </ion-button>
      </div>

    </ion-card>
  </div>
</ion-content>