<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add to Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Item Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td>Tender Goat</td>
        <td class="text-center">1</td>
        <td class="text-center">549.00</td>
        <td class="text-center"><i class="fa fa-trash fa-1x" ></i></td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td>Chicken Bones</td>
        <td class="text-center">2</td>
        <td class="text-center">349.00</td>
        <td class="text-center"><i class="fa fa-trash fa-1x" ></i></td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          Total Amt : 898.00
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
    </table>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full">
      Place an Order
    </ion-button>
  </ion-toolbar>
</ion-footer>